<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="img/weather-app.png">
    <title>{{title}}</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Our weather mini-app uses Mapbox and Weathercast API to give you accurate and up-to-date weather information for any location. Simply enter the address or city name in the textbox and submit to see the location on a map and get current weather data including temperature, humidity, and forecast. User-friendly interface and features like saving favorite locations and severe weather alerts make it easy to stay informed.</p>
        <img class="portrait" src="img/nature-field.jpg">
    </div>
    {{>footer}}
</body>
</html>